[submodule "nvim/bundle/ctrlp.vim"]
	path = nvim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "nvim/bundle/vim-flake8"]
	path = nvim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "nvim/bundle/nerdtree"]
	path = nvim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "nvim/bundle/vim-markdown-preview"]
	path = nvim/bundle/vim-markdown-preview
	url = git@github.com:JamshedVesuna/vim-markdown-preview.git
[submodule "nvim/bundle/nerdtree-git-plugin"]
	path = nvim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "nvim/bundle/vim-javascript"]
	path = nvim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "nvim/bundle/vim-go"]
	path = nvim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
